body {
    background-color: aquamarine;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    text-align: center;
}

fieldset#selectAgent {
    display: inline;
}

div#properties {
    margin: auto;
    width: 40%;
    /* margin-right: auto;
    margin-left: 0 */
    /* float: left; */
}

div#setupModel {
    border-bottom: 1px solid black;
}

div#propvar {
    float: left;
    width: 50%
}

div#enterformula {
    float: left;
    width: 50%
}


li.properties {
    float: left;
}

/* .container {
    margin: 25px;
    width: 500;
    height: 100%;
} */

.left-menu {
    float: left;
    width: 20%;
}

.content {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.links line {
    stroke-opacity: 0.6;
    stroke-width: 1px;
    fill: none;
}

.radio {
    display: inline;
    float: left;
}

#chooseAgent {
    display: inline;
    margin: auto;
    /* width: 30%;
    margin-left: auto;
    margin-right: 0; */
}

.nodes circle {
    stroke: #333;
    stroke-width: 1.5px;
}

table,
th,
td {
    border: 1px dashed black;
    border-collapse: collapse
}

svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* user-select: text; */
    background-color: pink;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10, 2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

form#frm1 {
    z-index: 100000;
}