body {
    background-color: aquamarine;
}

ul {
    list-style-type: none;
}

div#properties {
    margin: auto;
}

li.properties {
    float: left;
}

.container {
    margin: 25px;
    width: 700;
    height: 100%;
}

.left-menu {
    float: left;
    width: 20%;
}

.content {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.links line {
    stroke-opacity: 0.6;
    stroke-width: 1px;
    fill: none;
}

.nodes circle {
    stroke: #333;
    stroke-width: 1.5px;
}

table,
th,
td {
    border: 1px dashed black;
    border-collapse: collapse
}

#graph {
    border: 1px solid black;
    border-radius: 15px;
    background-color: pink;
    margin: auto
}